if SHIELD_TOTEMV2_LEFT

config ZMK_KEYBOARD_NAME
    default "TOTEM"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TOTEMV2_LEFT || SHIELD_TOTEMV2_RIGHT

config ZMK_SPLIT
    default y

endif